.content{
    max-width: margin 0 auto
}
.home-title{
    font-family: "Rock Salt","Roboto", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1,#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
.main{
    text-align: center;
}
#background{
    height: 72px;
}
body{
    background-color: #00838F;
}
header{
    background-color: #E29578;
}
nav a:hover{
    text-align: center;
    background-color: black;
    color:#E29578
}
.book,.join{
    background-color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover,.join:hover{
    background-color: #83C5BE;
}
#background{
    background-color: white;
}
.msg h2{
    background-color: #E29578;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 25px 50px;
}
footer{
    background-color: #00838F;
}
.icon{
    width: 80px;
    padding-top: 10px
}
#logo_link{
    padding-top: 5px;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid black;
}
main section img{
    box-sizing: border-box;
}